.register__input{
    background-color: black;
    border: none;
    border-bottom: white 1px solid;
    outline: none;
    color: white;
    height: 27px;
    padding: 0;
    padding-bottom: 5px;
    margin-top: 30px;
    width: 100%;
}

@media screen and (max-width: 510px) {
    .register__input{
        max-width: 85%;
    }
}