.profile__profession{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;
    border: none;
    color: white;
    min-width: 295px;
}
@media screen and (max-width: 768px){
   
    .profile__profession{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 99.29078014184397%;
    }
}

