.header__hamburger-btn_active{
    transform: rotate(45deg);
    width: 30px;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    opacity: 1;
}


.header__hamburger-btn_active:hover{
    opacity: .5
}