@import url(./__edit-button/profile__edit-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info-container/profile__info-container.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__profession/profile__profession.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__avatar-button/profile__avatar-button.css);
@import url(./__avatar-button-pic/profile__avatar-button-pic.css);
@import url(./__avatar-container/profile__avatar-container.css);
.profile{

    margin-top: 36.25px;
    display: flex;
    width: 100%;
    
    
}








@media screen and (max-width: 768px){
    .profile{
        flex-direction: column;
        align-items: center;
        
    }
    
}