.popup__container{
    width: 430px;
    background-color: white;
    height: 330px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    opacity: 1;
    border-radius: 10px;
    align-items: baseline;
    z-index: 20;
    justify-content: space-around;
}

@media screen and (max-width: 510px){
    .popup__container{
    width: 288px;   
    
    
    }
}
